# napcat token
NAPCAT_TOKEN=

# Deepseek 官方的 api key
DEEPSEEK_API_KEY=

# 连接 mongodb 的 url
MONGO_URI=mongodb://localhost:27017/yuiju?authSource=admin

# 硅基流动 api key
SILICONFLOW_API_KEY=

# 连接 redis 的 url
REDIS_URL=redis://localhost:6379
